In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [4]:
# Load the dataset
data=pd.read_csv('churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# Preprocess the dataset
data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [6]:
#encoding categorical variables
labelencoder = LabelEncoder()
data['Gender'] = labelencoder.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
#one-hot encoding for categorical variables
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
encoded_features = ohe.fit_transform(data[['Geography']]).toarray()
encoded_df = pd.DataFrame(encoded_features, columns=ohe.get_feature_names_out(['Geography']))
data = pd.concat([data, encoded_df], axis=1)
data.drop('Geography', axis=1, inplace=True)

In [8]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [9]:
## save the encoded data
with open('label_encoder_gender.pkl', 'wb') as f:
    pickle.dump(labelencoder, f)
with open('one_hot_encoder_geo.pkl', 'wb') as f:
    pickle.dump(ohe, f)

In [10]:
## divide the dataset into features and target variable
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [13]:
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

ANN IMPLEMENTATION

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [12]:
#bild the ANN model
model = Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
        Dense(32, activation='relu'),
        Dense(1) #default activation is linear for regression tasks
    ]
)

c:\Users\sawar\anaconda3\envs\v_env\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [14]:
#compile the model
model.compile(optimizer="adam", loss='mean_absolute_error', metrics=['mae'])

In [15]:
## set up tenserborad
from tensorflow.keras.callbacks import TensorBoard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
## set up early stopping 
early_stopping = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [17]:
#train model
history = model.fit(
    X_train_scaled, y_train,
    validation_data=(X_test_scaled, y_test),
    epochs=100,
    callbacks=[early_stopping, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 100307.5547 - mae: 100307.5547 - val_loss: 98501.0156 - val_mae: 98501.0156
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 99099.6562 - mae: 99099.6562 - val_loss: 96734.3047 - val_mae: 96734.3047
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 97181.3203 - mae: 97181.3203 - val_loss: 92188.5234 - val_mae: 92188.5234
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 91934.2188 - mae: 91934.2188 - val_loss: 84740.8672 - val_mae: 84740.8672
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 84101.3594 - mae: 84101.3594 - val_loss: 75454.5703 - val_mae: 75454.5703
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 74682.0391 - mae: 74682.0391 - val_loss: 66282.9375 - val_mae: 66282.9375
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 65257.4688 - mae: 65257.4688 - val_loss: 59014.9062 - val_mae: 59014.9062
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 57867.9922 - mae: 57867.9922 - val_loss: 54280.3477 - val_mae: 54280.3477
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53435.4414 - mae: 53435.4414 - val_loss: 52028.7578 - val_mae: 52028.7578
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51780.6875 - mae: 51780.6875 - val_loss: 51355.0938 - val_mae: 51355.0938
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50593.6953 - mae: 50593.6953 - val_loss: 51161.1758 - val_mae: 51161.1758
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50557.0703 - mae: 50557.0703 - val_loss: 51074.4961 - val_mae: 51074.4961
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50466.0625 - mae: 50466.0625 - val_loss: 51016.6641 - val_mae: 51016.6641
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50619.3438 - mae: 50619.3438 - val_loss: 50959.8867 - val_mae: 50959.8867
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49835.4961 - mae: 49835.4961 - val_loss: 50912.0703 - val_mae: 50912.0703
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50357.7344 - mae: 50357.7344 - val_loss: 50857.0352 - val_mae: 50857.0352
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50103.3711 - mae: 50103.3711 - val_loss: 50808.1445 - val_mae: 50808.1445
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49984.3984 - mae: 49984.3984 - val_loss: 50749.4727 - val_mae: 50749.4727
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49739.9922 - mae: 49739.9922 - val_loss: 50716.3516 - val_mae: 50716.3516
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50229.3906 - mae: 50229.3906 - val_loss: 50683.1836 - val_mae: 50683.1836
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49923.8359 - mae: 49923.8359 - val_loss: 50657.7109 - val_mae: 50657.7109
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49830.9180 - mae: 49830.9180 - val_loss: 50629.8438 - val_mae: 50629.8438
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49825.2383 - mae: 49825.2383 - val_loss: 50599.2617 - val_mae: 50599.2617
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50226.8438 - mae: 50226.8438 - val_loss: 50574.9336 - val_mae: 50574.9336
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49581.8906 - mae: 49581.8906 - val_loss: 50554.5898 - val_mae: 50554.5898
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49765.2812 - mae: 49765.2812 - val_loss: 50539.5078 - val_mae: 50539.5078
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49257.4688 - mae: 49257.4688 - val_loss: 50540.8828 - val_mae: 50540.8828
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49795.0547 - mae: 49795.0547 - val_loss: 50514.3789 - val_mae: 50514.3789
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49385.4805 - mae: 49385.4805 - val_loss: 50491.7812 - val_mae: 50491.7812
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49513.3164 - mae: 49513.3164 - val_loss: 50475.4062 - val_mae: 50475.4062
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49509.8828 - mae: 49509.8828 - val_loss: 50472.4688 - val_mae: 50472.4688
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49954.8711 - mae: 49954.8711 - val_loss: 50457.8242 - val_mae: 50457.8242
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49892.7070 - mae: 49892.7070 - val_loss: 50455.9062 - val_mae: 50455.9062
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50265.0039 - mae: 50265.0039 - val_loss: 50451.5391 - val_mae: 50451.5391
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50139.2930 - mae: 50139.2930 - val_loss: 50433.6055 - val_mae: 50433.6055
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49147.3359 - mae: 49147.3359 - val_loss: 50420.2578 - val_mae: 50420.2578
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49804.5508 - mae: 49804.5508 - val_loss: 50429.5469 - val_mae: 50429.5469
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49231.9570 - mae: 49231.9570 - val_loss: 50401.9375 - val_mae: 50401.9375
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49193.3047 - mae: 49193.3047 - val_loss: 50403.4922 - val_mae: 50403.4922
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49719.6484 - mae: 49719.6484 - val_loss: 50413.8906 - val_mae: 50413.8906
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48946.2969 - mae: 48946.2969 - val_loss: 50411.6484 - val_mae: 50411.6484
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49194.8633 - mae: 49194.8633 - val_loss: 50397.5234 - val_mae: 50397.5234
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49341.6133 - mae: 49341.6133 - val_loss: 50411.2539 - val_mae: 50411.2539
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50034.8555 - mae: 50034.8555 - val_loss: 50397.1602 - val_mae: 50397.1602
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49164.5273 - mae: 49164.5273 - val_loss: 50394.1836 - val_mae: 50394.1836
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49369.1992 - mae: 49369.1992 - val_loss: 50397.6797 - val_mae: 50397.6797
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49092.1797 - mae: 49092.1797 - val_loss: 50384.9453 - val_mae: 50384.9453
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48863.7500 - mae: 48863.7500 - val_loss: 50395.8242 - val_mae: 50395.8242
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49080.2852 - mae: 49080.2852 - val_loss: 50389.8516 - val_mae: 50389.8516
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49605.6758 - mae: 49605.6758 - val_loss: 50395.0977 - val_mae: 50395.0977
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49301.8594 - mae: 49301.8594 - val_loss: 50392.4570 - val_mae: 50392.4570
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49181.8750 - mae: 49181.8750 - val_loss: 50384.3633 - val_mae: 50384.3633
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49873.6992 - mae: 49873.6992 - val_loss: 50382.7305 - val_mae: 50382.7305
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49732.1211 - mae: 49732.1211 - val_loss: 50390.3711 - val_mae: 50390.3711
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48616.5312 - mae: 48616.5312 - val_loss: 50386.5078 - val_mae: 50386.5078
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49087.8906 - mae: 49087.8906 - val_loss: 50393.0352 - val_mae: 50393.0352
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48975.4375 - mae: 48975.4375 - val_loss: 50390.8008 - val_mae: 50390.8008
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49351.3086 - mae: 49351.3086 - val_loss: 50388.1836 - val_mae: 50388.1836

In [23]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [21]:
##load tensorboard
%load_ext tensorboard
%tensorboard --logdir logs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6007 (pid 4488), started 0:00:11 ago. (Use '!kill 4488' to kill it.)

In [22]:
# Evaluate the model
test_loss, mae = model.evaluate(X_test_scaled, y_test)
print(f"Test Loss: {test_loss}, MAE: {mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 51114.0781 - mae: 51114.0781
Test Loss: 50382.73046875, MAE: 50382.73046875